@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Ruslan+Display&display=swap');

body {
  scroll-behavior: smooth;
}
html.dark {
  background-color: #1f2a37;
}
.nav-bar-item {
  font-size: 18px;
}

.nav-bar-item:hover {
  /* font-size: 1.025rem !important; */
  /* color: rgb(75 85 99 / var(--tw-text-opacity)) !important; */
  /* background-color: rgb(243 244 246 / var(--tw-bg-opacity)) !important; */
}

h1 {
  margin: auto 10px auto auto;
}

button {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}

.space-x-8 > :not([hidden]) ~ :not([hidden]) {
  margin: 5px 10px;
}

.drop-shadow-effect {
  filter: drop-shadow(0px 15px 20px rgba(0, 0, 0, 0.6)) hue-rotate(90deg) !important;
}

.text-gradient-teal {
  background: linear-gradient(
    90deg,
    rgb(87, 215, 196) 0%,
    rgba(94, 234, 212, 1) 30%,
    #2dd4bf 50%,
    rgba(94, 234, 212, 1) 70%,
    #2dd4bf 98%,
    rgba(94, 234, 212, 1) 100%
  );
  background-clip: text;
  background-size: 100%;
  -webkit-text-fill-color: transparent;
}

.mask-image {
  /* personaje pequeño */
  /* mask-image: linear-gradient(black 60%, transparent); */

  /* personaje grande */
  mask-image: linear-gradient(black 89%, transparent);
}

html {
  --sb-track-color: #ffffff;
  --sb-thumb-color: #85cbd3;
  --sb-thumb-border-color: white;
  --sb-size: 16px;
}
html.dark {
  --sb-track-color: #1f2a37;
  --sb-thumb-color: #5d666f;
  --sb-thumb-border-color: #1f2a37;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 8px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 8px;
  border: 4px solid var(--sb-thumb-border-color);
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

.black-ops-one-regular {
  font-family: 'Black Ops One', system-ui;
  font-weight: 400;
  font-style: normal;
}

.ruslan-display-regular {
  font-family: "Ruslan Display", sans-serif;
  font-weight: 400;
  font-style: normal;
}
