body {
	scroll-behavior: smooth;
}
.nav-bar-item {
	font-size: 18px;
}

.nav-bar-item:hover {
	/* font-size: 1.025rem !important; */
	/* color: rgb(75 85 99 / var(--tw-text-opacity)) !important; */
	/* background-color: rgb(243 244 246 / var(--tw-bg-opacity)) !important; */
}

h1 {
	margin: auto 10px auto auto;
}

button {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 0.15s;
}

.space-x-8 > :not([hidden]) ~ :not([hidden]) {
	margin: 5px 10px;
}
